<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        style
            include style/style.css
    body
        center
            each page in pages
                if (page == banner)
                    img(src=page, class="hentai-page-banner", alt="If you seen this, that's mean something wrong with the mirror page link (either bug or your ISP blocking our services), try to refresh or contact me t.me/awotism", srcset="")
                else
                    img(src=page, class="hentai-page", alt=page.split("/")[page.split("/").length-1])
                br