html * {
  padding: 0;
  margin: 0;
  background-color: black;
  color: wheat;
}
.box-hentai-result {
  margin: 0 -5px;
}
.box-content {
    text-align: center;
    width: 90%;
    padding-left: 7%;
    padding-right: 5%;
}
img.hentai-page {
  width: 100%;
  max-width: 500px;
  color: #fff;
}
img.hentai-page-banner {
  width: 100%;
  max-width: 500px;
  color: #ff0000;
}
.box-hentai {
  box-shadow: 0 4px 8px 0 rgba(179, 179, 179, 0.2);
  max-width: 200px;
  text-align: center;
  font-family: arial;
  float: left;
  height: auto;
  min-height: 350px;
  padding: 10px;
  background-color: #000000;
}
@media screen and (max-width: 100%) {
  .column {
    width: 100%;
    margin-bottom: 20px;
  }
}
.thumb-hentai {
    max-height: 280px;
}